<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.memberMapper">

	<!-- 
		mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
		
		<select id="selectMember" resultType="com.example.dto.MemberVO" >
			SELECT ID, PW ,NAME FROM TEST
		</select>
		
		이렇게 해야 한다.
	-->
	
	<select id="selectMember" resultType="memberVO">
		SELECT id, pw ,name, regdate FROM userinfo
	</select>
	
	<select id="selectMemberCnt" resultType="int">
		SELECT count(*) FROM userinfo
	</select>
	
	<select id="selectMemberName" parameterType="map" resultType="String">
		SELECT name FROM userinfo 
		where id = #{id}
	</select>
	
	<select id="selectMemberInfo" parameterType="memberVO" resultType="memberVO">
		SELECT id, pw ,name, regdate 
		FROM userinfo 
		where id = #{id}
	</select>
	
	<select id="selectFrontinfo" resultType="frontinfoVO">
		SELECT * FROM frontinfo
	</select>
	
</mapper>